{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_cats = site_cats | split: ',' | sort  %}




{% assign cat_count = 0 %}
{% for cat in site_cats %}
{% assign cat_count = cat_count | plus: site.categories[cat].size %}
{% endfor %}
{% for cat in cats %}
{% assign rel_cat_size = site.categories[cat].size | times: 1.0 | divided_by: cat_count | plus: 1 %}
<span style="white-space: nowrap; font-size: {{ rel_cat_size }}em; padding: 0.6em;">
	<a href="{{ site.baseurl }}/tags/#{{ cat | slugize }}" class="cat">{{ cat | slugize }}
		<span>({{ site.categories[cat].size }})</span>
	</a>
</span>
{% endfor %}