<!doctype html>
<html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} - {{ site.data.global.title }}{% else %}{{ site.data.global.title }} - {{ site.data.global.description }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <!-- Styles -->

      <link rel="stylesheet" href="/css/py_notebook.css"> 
<!--       <link rel="stylesheet" href="/css/ipython.min.css"> 
      <link rel="stylesheet" href="/css/style.min.css">  -->       
      <link rel="stylesheet" href="/css/dc.min.css"> 
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/sunburst.css">  
      <link rel="stylesheet" href="/css/my.css">  

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/power.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

<!-- <div class="container">
<div class="row">
<div class="col-md-12"> -->
<link rel="preload" href="/assets/logo2.png" as="image">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.data.global.title }}</a>
            <!-- <span class="navbar-brand"><img src="/assets/logo.jpg"/>Create something</span> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.data.nav.main %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<!-- </div>
</div>
</div>  -->
